{% extends 'modelo.html' %}

{% load static %}

{% block Titulo %}
<title>Política Direitos Autorais</title>
{% endblock %}

{% block Conteudos %}
<main>
	<section>
		<article>
			<h2>Política Direitos Autorais</h2>
			<picture>
				<div>
					<a href="/"><img src="{% static 'img/copyright-6809961_640.png' %}" alt="Imagem Política Direitos Autorais"
							class="imagem-artigo"></a>
				</div>
			</picture>
			<hr>  
			<p> &nbsp;&nbsp;A Lei de Direitos Autorais (LDA) é o principal dispositivo do ordenamento jurídico 
				quando se trata de regular os direitos dos criadores de obras intelectuais. Para além de regrar
				o que pode ou não ser protegido por direitos autorais, a lei brasileira de direitos autorais ainda
				determina como e quando esses direitos podem ser transmitidos ou comercializados.</p>
			<p> &nbsp;&nbsp;Todas as obras intelectuais estão protegidas pela Lei de Direitos Autorais. o texto da 
				Lei 9610/98 é mais específico que isso. No Art. 7º, encontramos que “são obras intelectuais protegidas
				as criações do espírito, expressas por qualquer meio ou fixadas em qualquer suporte, tangível ou intangível,
				conhecido ou que se invente no futuro […]“. </p>
			<p>	&nbsp;&nbsp;Cabe, ainda, trazer alguns exemplos de obras protegidas por direitos autorais. Segundo a própia LDA (Lei 9610/98),
				podem ser protegidos (Art. 7º):textos de obras literárias, artísticas ou científicas; projetos, esboços e obras 
				plásticas concernentes à geografia, engenharia, topografia, arquitetura, paisagismo, cenografia e ciência;
				adaptações, traduções e outras transformações de obras originais, apresentadas como criação intelectual nova;
				programas de computador; coletâneas ou compilações, antologias, enciclopédias, dicionários, bases de dados e
				outras obras, que, por sua seleção, organização ou disposição de seu conteúdo, constituam uma criação intelectual.</p>			
			<hr>
		</article>
	</section>
</main>
{% endblock %}